@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=IBM+Plex+Mono&family=Josefin+Sans&family=Righteous&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono&family=Silkscreen&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --blue: #287bff;
    --white: #fff;
    --black1: #222;
    --grey: #f5f5f5;
    --black2: #999;
    --yellow: rgb(180, 204, 22);
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}


/* POPUPSCREEN-1 */


.popup-screen{
  z-index: 999999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
}

.popup-screen.active{
  visibility: visible;
  display: flex;
}

.popup-box{
  position: relative;
  background: var(--blue);
  backdrop-filter: blur(10px);
  max-width: 350px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 50px 40px;
  right: -15%;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: scale(0);
  transition: 0.5s ease;
  transition-property: transform;
  margin-bottom: 20vh;
  /* margin-left: 20vw; */
}

.popup-screen.active .popup-box{
  transform: scale(0.8);
}
.popup-screen.active .popup-box2{
  transform: scale(0.8);
}
.popup-screen.active img{
  transform: scale(0.8);
}
.popup-screen.active .second{
  transform: scale(0.8);
}

.popup-screen .pichai{
  width: 30vw;
  transform: scale(0);
  transition: 0.5s ease;
  transition-property: transform;
  margin-top: 20vh;
  /* margin-left: 10vw; */
  right: -10%;
  border-bottom: ridge mediumslateblue;
}

.popup-box h2{
  font-size: 2.1em;
  font-weight: 800;
  margin-bottom: 20px;
}

.popup-box p{
  font-size: 1em;
  margin-bottom: 30px;
}
#first{
  display: flex;
}
.close-btn1{
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
}

.close-btn1:hover{
  opacity: 1;
}

section{
  padding: 50px 100px;
}
.popup-box .btn{
  display: flex;
  width: 100%;
}
.popup-box .btn input{
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  
}
.popup-box .btn input:hover{
  background-color: #222;
  color: #f5f5f5;
}
.next{
  margin-left: auto;
}

/* ____ POPUPSCREEN-1 ENDS HERE ____ */

/* POPUPSCREEN-2 */

#second{
  display: none;
  width: 100%;
  height: 100%;
}

.popup-box2{
  margin: 30px;

}

.lefty .sdb{
  /* width: -30vw; */
  transform: scale(0);
  transition: 0.5s ease;
  transition-property: transform;
  margin-top: -4vh;
  /* margin-left: 10vw; */
  /* right: -10%; */
  border-bottom: ridge mediumslateblue;
  height: 50em;
  /* top: 0; */
  border-radius: 10px;

}

.musk{
  margin-top: auto;
  margin-bottom: auto;
  
}
.musk img{
  height: 40vh;
  border-bottom:solid slateblue;
  transform: scale(0);
  transition: 0.5s ease;
  transition-property: transform;
}
.baksho{
  position: relative;
  background: var(--blue);
  backdrop-filter: blur(10px);
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  margin-top: 20vh;
  padding: 50px 40px;
  /* right: -15%; */
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  /* transform: scale(0); */
  /* transition: 0.5s ease; */
  /* transition-property: transform; */
  /* margin-bottom: 39vh; */
  height: 28vh;

}
.baksho .btn{
  display: flex;
  width: 100%;
  padding-top: 3vh;
}

.baksho .btn input{
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  
}
.baksho .btn input:hover{
  background-color: #222;
  color: #f5f5f5;
}
.close-btn2{
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
}

.close-btn2:hover{
  opacity: 1;
}

section{
  padding: 50px 100px;
}


/* ____ POPUPSCREEN-2 ENDS HERE ____ */

/* ____ POPUPSCREEN- 3 ____ */

.third{
  display: none;
  height: 100%;
  width: 100%;
}
.popup-box3{
  margin-left: auto; 
  margin-right: 10px;
  box-shadow: #222; 
}
.righty img{
  /* border-radius: 50%; */
  border-radius: 70px;
  box-shadow: 0px 10px 30px black;
  margin-left: 55vw;
}
.righty2{
  display: flex;
}
.dialg{
  position: relative;
  background: var(--blue);
  backdrop-filter: blur(10px);
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  margin-top: 20vh;
  padding: 50px 40px;
  /* right: -15%; */
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  /* transform: scale(0); */
  /* transition: 0.5s ease; */
  /* transition-property: transform; */
  /* margin-bottom: 39vh; */
  height: 28vh;
}

.close-btn3{
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
}

.close-btn3:hover{
  opacity: 1;
}
.dialg .btn input{
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}
.dialg .btn{
  
  width: 100%;
  display: flex;
  padding-top: inherit;
}
.dialg .btn input:hover{
  background-color: #222;
  color: #f5f5f5;
}

/* ____ POPUP-3 SCREEN ENDS HERE ____ */

/* ____ POPUP-4 Screen____ */
#fourth{
  display: none;
  border-radius: 20px;
}
.fourthDown{
  background-color: #287bff;
  border-color: #287bff;
  padding: 30px;
  border-radius: inherit;
  text-align: center;
}
.finalbutton {
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}
.finalbutton ion-icon{
  background-color: rgb(28, 172, 90);
  padding: 10px;
  border-radius: 7px;

}
/* ____ POPUP-4 SCREEN ENDS HERE____ */
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--black1);
    border-left: 10px solid var(--black1);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation li a .title h2{
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style:none ;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px ;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 80px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  height: 50px;
  background: transparent;
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    height: 50px;
    background: transparent;
    pointer-events: none;
  }
  .activate{
    background: var(--white);
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: var(--blue);
  }

  .activate .title,
  .activate .icon
  {
      color: var(--black1)
  }
  
  .activate::before{
      content: '';
      position: absolute;
      right: 0;
      top: -50px;
      width: 50px;
      border-radius: 50%;
      box-shadow: 35px 35px 0 10px var(--white);
      height: 50px;
      background: transparent;
      pointer-events: none;
  }
  .activate::after{
      content: '';
      position: absolute;
      right: 0;
      bottom: -50px;
      width: 50px;
      border-radius: 50%;
      box-shadow: 35px -35px 0 10px var(--white);
      height: 50px;
      background: transparent;
      pointer-events: none;
  }
  .navigation ul img{
  height: 37vh;
}

.main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active{
  width: calc(100% - 80px);
  left: 80px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    
  }

.toggle{
  position: relative;
  top: 0;
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    cursor: pointer;
    align-items: center;
  }

  .pageHeading {
    /* text-align: center; */
    /* padding-left: 25%; */
    /* padding-top: 40px; */
    color: var(--grey);
    text-shadow:1px 1px black;
    font-family: 'Righteous', cursive;
    display: flex;
    border-radius: 15px;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 12vh  43px 0 0 ;
    /* padding: 5vh 0 0 0; */
    height: 15vh;
    background: linear-gradient(90deg, rgb(37, 36, 37) 0%, rgb(16, 16, 16) 35%, rgb(0, 145, 255) 100%);
    
    
  }

.pageHeading h2{
  text-align: center;   
  margin: auto;
}
.pageHeading span{
  font-family: 'Lobster Two', cursive;
  color: #287bff;
}
.pageHeading .gif{
  border-radius: 10px;
  height: 14vh;
  margin-top: -38px;
;
}
.user {
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    float: inline-end;
    right: 10vh;
    top: 5vh;
    box-shadow:0px 0px 10px 10px var(--yellow);

  }
  .user img{
    position: absolute;
    top: 0;
    left: -8px;
    width: 120%;
    height: 120%;
    object-fit: cover;
}

/* CONTAINERTWO */
.ContainerTwo{
  position: relative;
  /* background: linear-gradient(90deg, rgb(37, 36, 37) 0%, rgb(16, 16, 16) 35%, rgb(0, 145, 255) 100%); */
  /* height: 45vh; */
  border-radius: 10px;
  /* margin-right: 100px; */
  margin-left: 4.25vw;
  margin-top: 12vh;
  background: url("../images/ios-13-stock-dark-green-black-background-amoled-ipad-hd-3208x3208-791.jpg");
  width: 90.5%;
  background-position: fixed;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  background-size: cover;
}



/* FROM INDEX.HTML */


.dropdownContent button{
  color: black;
  display: block;
  background-color: #287bff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 0.2vh;
  
  
}
.dropdownContent button:hover{
  /* color: #287bff;
  background-color: black; */
  border: solid var(--black2);
  font-weight: bolder;
}
#array_container{

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-top:-10vh;
  width: 60%;
  margin-left: 25vw;
}

.DropBox{
  display: flex;
  margin-left: 10vw;
  margin-top: 10vh;
}

.DropDown span{

  margin-top: 5vh;
  margin-bottom: 5vh;
  color: white;
  border: solid black;
  background-color: #287bff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  
}
.DropDown:hover .dropdownContent {
  display: grid;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--black1);
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.8);
  padding: 12px 16px;
  z-index: 1;
}

.dropdownContent button:nth-child(2):hover{
  background-color:  rgb(117, 222, 13);
  border: solid var(--black1);
}

.dropdownContent button:nth-child(3):hover{
  background-color:  rgb(94, 28, 44);
  border: solid var(--black1);
  color: white;
}

.dropdownContent button:nth-child(4):hover{
  background-color:  rgb(33, 169, 203);
  border: solid var(--black1);
  color: black;
}

.dropdownContent button:nth-child(5):hover{
  background-color: blueviolet;
  border: solid var(--black1);
  color: black;
}

.dropdownContent button:nth-child(6):hover{
  background-color: rgb(179, 188, 11);
  border: solid var(--black1);
  color: black;
}



.array-inputs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 30% 40%;
    place-content: center;
    padding: 5% 0%;
    margin-left: 21vw;
    margin-top: -70vh;
    color: #f5f5f5;
    /* background-color: #287bff; */
    
  }
  .array-inputs p{
  background-color: var(--black1);
  border-radius: 15px;
  padding: 10px;
  padding-top: 17px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 4px whitesmoke;
}
.array-inputs input{
  background-color: var(--black1);
  border-radius: 15px;
}
.array-inputs #a_size {
  background-color: var(--black1);
  border-radius: 15px;
  padding: 5% 0%;
  width: 50%;
}
.generate{
  background: var(--blue);
  border: #222 solid;
  color: var(--grey);
  border-radius: 15px;
  padding: 12px;
  margin-left: -55vw;
  margin-top: 10px;
  cursor: pointer;
  position: relative;

}
.array-inputs #a_speed {
  background-color: var(--black1);
  border-radius: 15px;
  padding: 5% 0%;
  width: 50%;
}

.array-inputs #a_generate {
  background-color: transparent;
  border: none;
  outline: none;
  color:var(--black1);
  padding: 4% 0% 0% 0%;
  padding-left: 20%;
}

.array-inputs #a_generate:hover {
  cursor: pointer;
}

nav .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .header_right .nav-heading {
  display: inline-block;
  font-size: xx-large;
  padding: 3% 0%;
}

nav .header_right .dropdownContent {
  display: -ms-grid;
  display: grid;
    -ms-grid-columns: (16.66667%)[6];
        grid-template-columns: repeat(6, 16.66667%);
        place-content: center;
    padding: 2% 0%;
}

nav .header_right .dropdownContent button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: x-large;
}

nav .header_right .dropdownContent button:hover {
  background-color: blue;
  cursor: pointer;
}

nav .header_right .dropdownContent .butt_locked {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .dropdownContent .butt_locked:hover {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .dropdownContent .butt_selected {
  background-color: white;
  color: green;
}

nav .header_right .dropdownContent .butt_selected:hover {
  background-color: white;
  cursor: pointer;
}

nav .header_right .dropdownContent .butt_unselected:hover {
  background-color: blue;
  cursor: pointer;
}

.section {
  background: #287bff;
  border-radius: 15px;
  display: -ms-grid;
  color: black;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 55% 20%;
      margin-left: 40px;
      margin-right: 40px;
      box-shadow:20px 10px 40px 10px #222;
    }
    
    .section .Complexity_Containers {
      margin-top: 10%;
      background-color: #1b54b08e;
      border-radius: 15px;
    }
    
    .section .Complexity_Containers .Pair_Definitions {
      margin-top: 10%;
      text-align: left;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 10px;
}

.section .Complexity_Containers .Pair_Definitions p {
  display: inline;
  color: white;
  text-shadow:2px 2px black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

.section .Complexity_Containers .Pair_Definitions p.Sub_Heading {
  font-size: medium;
  text-transform: none;
  font-size: unset;
}


.section #Info_Cont1 {
  padding: 20% 10%;
  width: 30vw;
}

.section #Info_Cont1 h3 {
  /* text-decoration: underline; */
  font-weight: bolder;
  font-family: 'Acme', sans-serif;
  font-size: larger;
}

.section #array_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
}

.section #Info_Cont2 {
  padding: 20% 10%;
  margin-left: -15vw;
}

.section #Info_Cont2 h3 {
  /* text-decoration: underline; */
  font-weight: bolder;
  font-family: 'Acme', sans-serif;
  font-size: larger;
}

.hide {
  display: none;
}


